@tailwind base;
@tailwind components;
@tailwind utilities;


/* Original glitch effect for h1 */
.glitch-container {
    animation: glitchEffect 0.5s ease-in-out 2 2.2s forwards;
  }
  
  @keyframes glitchEffect {
    0%, 100% { text-shadow: none; }
    25% { text-shadow: 0 0 2px #4acfb4, 0 0 10px #4acfb4, 0 0 20px #4acfb4, 0 0 40px #4acfb4; }
    50% { text-shadow: -2px 0 blue, 2px 0 red; }
    75% { text-shadow: -1px -1px #8dfdcc, 1px 1px #8dfdcc; }
  }
  
  /* Synchronized glitch effect for image */
  .glitch-image {
    animation: glitchImageEffect 0.5s ease-in-out 2 2.2s forwards;
  }
  
  @keyframes glitchImageEffect {
    0%, 100% {
      transform: translate(0, 0) rotate(-3deg);
      filter: none;
    }
    25% {
      transform: translate(-2px, -2px) rotate(-3deg);
      filter: drop-shadow(0 0 10px #4acfb4) drop-shadow(0 0 20px #4acfb4);
    }
    50% {
      transform: translate(2px, 2px) rotate(-3deg);
      filter: drop-shadow(-2px 0 blue) drop-shadow(2px 0 red);
    }
    75% {
      transform: translate(-1px, 1px) rotate(-3deg);
      filter: drop-shadow(0 0 5px #8dfdcc);
    }
  }

  @layer utilities {
    .perspective-1000 {
      perspective: 1000px;
    }
  
    .backface-hidden {
      backface-visibility: hidden;
    }
  }
  
/* Flip Card Styles */
.project-card {
  @apply w-[500px] h-[300px] perspective-1000; /* Apply custom perspective class */
}

.project-card-inner {
  @apply relative w-full h-full transition-transform duration-500 ease-in-out;
  transform-style: preserve-3d; /* Enable 3D transformations */
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg); /* Rotate to show back side */
}

.project-card-front,
.project-card-back {
  @apply absolute w-full h-full backface-hidden rounded-[10px]; /* Hide back face when flipped */
}

.project-card-back {
  transform: rotateY(180deg); /* Rotate back side to align with flip */
}

.title{
  animation: neon 1s ease infinite
}
@keyframes neon {
  0%, 100% {
    text-shadow: 
      0 0 0.8vw #1de9b6,    /* Soft light neon green */
      0 0 2.5vw #1de9b6,    /* Soft light neon green */
      0 0 7vw #1de9b6,      /* Light neon green */
      0 0 7vw #1de9b6,      /* Light neon green */
      0 0 0.3vw #00bcd4,    /* Aqua blue */
      0.3vw 0.3vw 0.1vw #00d4ad; /* Soft aqua blue shadow */
    color: #009688;        /* Teal text color */
  }
  50% {
    text-shadow: 
      0 0 0.9vw #1de9b6,    /* Slightly more intense neon green */
      0 0 3vw #1de9b6,      /* Slightly more intense neon green */
      0 0 8vw #1de9b6,      /* Slightly more intense neon green */
      0 0 8vw #1de9b6,      /* Slightly more intense neon green */
      0 0 0.4vw #00bcd4,    /* Slightly more intense aqua blue */
      0.4vw 0.4vw 0.1vw #00bcd4; /* Slightly more intense aqua blue shadow */
    color: #2d7c6e;        /* Brighter teal for a gentle glow */
  }
}